<a href="https://colab.research.google.com/github/Nauvaldi/Dataset/blob/main/notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/Nauvaldi/Dataset/main/test.csv"
df = pd.read_csv(dataset_url)
df

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,34,Travel_Rarely,790,Sales,24,4,Medical,1,1489,1,...,3,80,0,16,2,4,15,9,10,10
1,35,Travel_Rarely,660,Sales,7,1,Life Sciences,1,1492,4,...,1,80,1,1,3,3,1,0,0,0
2,24,Travel_Frequently,381,Research & Development,9,3,Medical,1,1494,2,...,3,80,0,4,2,2,0,0,0,0
3,24,Non-Travel,830,Sales,13,2,Life Sciences,1,1495,4,...,3,80,1,1,2,3,1,0,0,0
4,44,Travel_Frequently,1193,Research & Development,2,1,Medical,1,1496,2,...,2,80,0,16,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,...,3,80,1,17,3,3,5,2,0,3
408,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,...,1,80,1,9,5,3,7,7,1,7
409,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,...,2,80,1,6,0,3,6,2,0,3
410,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,...,4,80,0,17,3,2,9,6,0,8
411,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
# Show dataset shape
number_of_columns = df.shape[1]

In [ ]:
# Show all columns for dataset
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [ ]:
# Show all columns from dataframe
df.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

**Data Asimetris Biner**

-Over18

-OverTime

In [ ]:
df[["Over18", "OverTime"]].head(5)

  Over18 OverTime
0      Y      Yes
1      Y       No
2      Y      Yes
3      Y       No
4      Y      Yes

**Ubah Value ke 0/1**

Jika Yes/Y = 1

Jika No/N = 0

In [ ]:
# Over18 code
over18_for_yes = "Y"
over18_for_no = "N"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_over18_to_biner(Over18):
    return value_of_one if Over18 == over18_for_yes else value_of_zero

In [ ]:
# Update all values of 'Over18' series
df["Over18"] = df["Over18"].apply(change_code_over18_to_biner)

In [ ]:
# Overtime code
overtime_for_yes = "Yes"
overtime_for_no = "N0"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_overtime_to_biner(OverTime):
    return value_of_one if OverTime == overtime_for_yes else value_of_zero

In [ ]:
# Update all values of 'OverTime' series
df["OverTime"] = df["OverTime"].apply(change_code_overtime_to_biner)

In [ ]:
df[["Over18", "OverTime"]].head(5)

   Over18  OverTime
0       1         1
1       1         0
2       1         1
3       1         0
4       1         1

In [ ]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(df, idx, series):
    return df.loc[(idx), series]

In [ ]:
def get_dissimilarity_dataset(df, series_index = [], series = []):
    first_series = get_series(df, series_index[0], series)
    second_series = get_series(df, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
get_dissimilarity_dataset(df, [1,2], ["Over18", "OverTime"]).T

          1  2
Over18    1  1
OverTime  0  1

In [ ]:
df.loc[0:5, ["Over18", "OverTime"]]

   Over18  OverTime
0       1         1
1       1         0
2       1         1
3       1         0
4       1         1
5       1         0

In [ ]:
def count_contingency_value(df, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = df.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(df.loc[(start_index):(last_index), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
df_1_2 = get_dissimilarity_dataset(df, [1,2], ["Over18","OverTime"])

In [ ]:
c_d_1_2 = count_contingency_value(df_1_2, 1, 2)

In [ ]:
# d(1,3)
df_1_3 = get_dissimilarity_dataset(df, [1,3], ["Over18","OverTime"])

In [ ]:
c_d_1_3 = count_contingency_value(df_1_3, 1, 3)

In [ ]:
# d(1,4)
df_1_4 = get_dissimilarity_dataset(df, [1,4], ["Over18","OverTime"])

In [ ]:
c_d_1_4 = count_contingency_value(df_1_4, 1, 4)

In [ ]:
# d(1,5)
df_1_5 = get_dissimilarity_dataset(df, [1,5], ["Over18","OverTime"])

In [ ]:
c_d_1_5 = count_contingency_value(df_1_5, 1, 5)

# Dissimilarity Binary Assymetric Value Formula


      d(i,j) =  r + s
              _________
              q + r + s

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_3)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_4)
d_1_5 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_5)

In [ ]:
d_1_2

0.5

In [ ]:
d_1_3

0.0

In [ ]:
d_1_4

0.5

In [ ]:
d_1_5

0.0

# Menghitung Jarak Data Numerik

-Age, DistanceFromHome, TotalWorkingYears, YearsAtCompany, YearsInCurrentRole

In [ ]:
from scipy.spatial import distance_matrix

In [ ]:
df[["Age","DistanceFromHome","YearsInCurrentRole","TotalWorkingYears","YearsAtCompany"]].head(5)

,Age,DistanceFromHome,YearsInCurrentRole,TotalWorkingYears,YearsAtCompany
0,34,24,9,16,15
1,35,7,0,1,1
2,24,9,0,4,0
3,24,13,0,1,1
4,44,2,2,16,2

In [ ]:
data = pd.read_csv(dataset_url)
df = pd.DataFrame(data,columns=  ["Age","DistanceFromHome","YearsInCurrentRole","TotalWorkingYears","YearsAtCompany"])
df.head(5)

,Age,DistanceFromHome,YearsInCurrentRole,TotalWorkingYears,YearsAtCompany
0,34,24,9,16,15
1,35,7,0,1,1
2,24,9,0,4,0
3,24,13,0,1,1
4,44,2,2,16,2

In [ ]:
Distance_matrix = pd.DataFrame(distance_matrix(df.values,df.values),index = df.index,columns=[df.index])
Distance_matrix.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,...,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411
0,0.000000,28.142495,27.838822,26.888659,28.319605,10.723805,27.946377,34.322005,24.289916,20.469489,29.832868,32.664966,24.819347,29.916551,29.086079,13.527749,23.811762,...,18.814888,18.357560,28.319605,12.124356,25.922963,28.827071,18.411953,16.941074,21.931712,8.660254,21.610183,26.758176,12.449900,21.587033,26.057628,27.477263,22.649503
1,28.142495,0.000000,11.618950,12.529964,18.330303,19.773720,10.535654,20.639767,9.695360,18.027756,11.135529,9.219544,8.831761,17.349352,8.831761,25.826343,13.228757,...,10.000000,18.520259,10.198039,16.941074,20.880613,7.937254,13.076697,22.912878,32.171416,33.867388,13.453624,10.677078,23.086793,12.884099,11.269428,24.020824,6.708204
2,27.838822,11.618950,0.000000,5.099020,24.515301,17.606817,11.747340,31.606961,12.767145,25.377155,9.000000,9.486833,6.403124,26.645825,9.327379,23.065125,13.490738,...,14.456832,24.738634,18.138357,18.493242,24.392622,14.491377,10.099505,20.688161,36.138622,34.928498,14.071247,6.403124,23.194827,18.894444,8.831761,30.983867,11.401754
3,26.888659,12.529964,5.099020,0.000000,27.404379,16.492423,15.165751,32.542280,15.588457,25.729361,13.674794,12.649111,9.000000,28.530685,12.767145,20.149442,16.613248,...,15.198684,23.748684,20.760539,17.663522,27.622455,17.088007,11.135529,17.262677,35.637059,34.467376,16.552945,9.848858,22.803509,20.566964,12.000000,33.196385,12.961481
4,28.319605,18.330303,24.515301,27.404379,0.000000,25.278449,17.521415,16.431677,14.212670,13.820275,18.110770,22.068076,20.149442,7.937254,19.235384,33.181320,13.000000,...,15.033296,19.974984,8.944272,20.904545,6.480741,15.198684,19.672316,32.171416,27.000000,30.116441,16.340135,21.400935,22.693611,11.832160,20.223748,9.539392,15.524175

In [ ]:
## Membulatkan bilangan hingga 1 desimal
Distance_matrix.round(decimals=1,out=None).head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,...,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411
0,0.0,28.1,27.8,26.9,28.3,10.7,27.9,34.3,24.3,20.5,29.8,32.7,24.8,29.9,29.1,13.5,23.8,...,18.8,18.4,28.3,12.1,25.9,28.8,18.4,16.9,21.9,8.7,21.6,26.8,12.4,21.6,26.1,27.5,22.6
1,28.1,0.0,11.6,12.5,18.3,19.8,10.5,20.6,9.7,18.0,11.1,9.2,8.8,17.3,8.8,25.8,13.2,...,10.0,18.5,10.2,16.9,20.9,7.9,13.1,22.9,32.2,33.9,13.5,10.7,23.1,12.9,11.3,24.0,6.7
2,27.8,11.6,0.0,5.1,24.5,17.6,11.7,31.6,12.8,25.4,9.0,9.5,6.4,26.6,9.3,23.1,13.5,...,14.5,24.7,18.1,18.5,24.4,14.5,10.1,20.7,36.1,34.9,14.1,6.4,23.2,18.9,8.8,31.0,11.4
3,26.9,12.5,5.1,0.0,27.4,16.5,15.2,32.5,15.6,25.7,13.7,12.6,9.0,28.5,12.8,20.1,16.6,...,15.2,23.7,20.8,17.7,27.6,17.1,11.1,17.3,35.6,34.5,16.6,9.8,22.8,20.6,12.0,33.2,13.0
4,28.3,18.3,24.5,27.4,0.0,25.3,17.5,16.4,14.2,13.8,18.1,22.1,20.1,7.9,19.2,33.2,13.0,...,15.0,20.0,8.9,20.9,6.5,15.2,19.7,32.2,27.0,30.1,16.3,21.4,22.7,11.8,20.2,9.5,15.5