<a href="https://colab.research.google.com/github/Nauvaldi/Dataset/blob/main/notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Content with notebooks

You can also create content with Jupyter Notebooks. This means that you can include
code blocks and their outputs in your book.

## Markdown + notebooks

As it is markdown, you can embed images, HTML, etc into your posts!

![](https://myst-parser.readthedocs.io/en/latest/_static/logo-wide.svg)

You can also $add_{math}$ and

$$
math^{blocks}
$$

or

$$
\begin{aligned}
\mbox{mean} la_{tex} \\ \\
math blocks
\end{aligned}
$$

But make sure you \$Escape \$your \$dollar signs \$you want to keep!

## MyST markdown

MyST markdown works in Jupyter Notebooks as well. For more information about MyST markdown, check
out [the MyST guide in Jupyter Book](https://jupyterbook.org/content/myst.html),
or see [the MyST markdown documentation](https://myst-parser.readthedocs.io/en/latest/).

## Code blocks and outputs

Jupyter Book will also embed your code blocks and output in your book.
For example, here's some sample Matplotlib code:

In [ ]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
plt.ion()

In [ ]:
# Fixing random state for reproducibility
np.random.seed(19680801)

N = 10
data = [np.logspace(0, 1, 100) + np.random.randn(100) + ii for ii in range(N)]
data = np.array(data).T
cmap = plt.cm.coolwarm
rcParams['axes.prop_cycle'] = cycler(color=cmap(np.linspace(0, 1, N)))


from matplotlib.lines import Line2D
custom_lines = [Line2D([0], [0], color=cmap(0.), lw=4),
                Line2D([0], [0], color=cmap(.5), lw=4),
                Line2D([0], [0], color=cmap(1.), lw=4)]

fig, ax = plt.subplots(figsize=(10, 5))
lines = ax.plot(data)
ax.legend(custom_lines, ['Cold', 'Medium', 'Hot']);

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)

# Tugas 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/Nauvaldi/Dataset/main/test.csv"
df = pd.read_csv(dataset_url)
df

In [ ]:
# Show dataset shape
number_of_columns = df.shape[1]

In [ ]:
# Show all columns for dataset
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [ ]:
# Show all columns from dataframe
df.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

**Data Asimetris Biner**

-Over18

-OverTime

In [ ]:
df[["Over18", "OverTime"]].head(5)

## **Ubah Value ke 0/1**

Jika Yes/Y = 1

Jika No/N = 0

In [ ]:
# Over18 code
over18_for_yes = "Y"
over18_for_no = "N"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_over18_to_biner(Over18):
    return value_of_one if Over18 == over18_for_yes else value_of_zero

In [ ]:
# Update all values of 'Over18' series
df["Over18"] = df["Over18"].apply(change_code_over18_to_biner)

In [ ]:
# Overtime code
overtime_for_yes = "Yes"
overtime_for_no = "N0"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_overtime_to_biner(OverTime):
    return value_of_one if OverTime == overtime_for_yes else value_of_zero

In [ ]:
# Update all values of 'OverTime' series
df["OverTime"] = df["OverTime"].apply(change_code_overtime_to_biner)

In [ ]:
df[["Over18", "OverTime"]].head(5)

   Over18  OverTime
0       1         1
1       1         0
2       1         1
3       1         0
4       1         1

In [ ]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(df, idx, series):
    return df.loc[(idx), series]

In [ ]:
def get_dissimilarity_dataset(df, series_index = [], series = []):
    first_series = get_series(df, series_index[0], series)
    second_series = get_series(df, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
get_dissimilarity_dataset(df, [1,2], ["Over18", "OverTime"]).T

          1  2
Over18    1  1
OverTime  0  1

In [ ]:
df.loc[0:5, ["Over18", "OverTime"]]

   Over18  OverTime
0       1         1
1       1         0
2       1         1
3       1         0
4       1         1
5       1         0

In [ ]:
def count_contingency_value(df, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = df.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(df.loc[(start_index):(last_index), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
df_1_2 = get_dissimilarity_dataset(df, [1,2], ["Over18","OverTime"])

In [ ]:
c_d_1_2 = count_contingency_value(df_1_2, 1, 2)

In [ ]:
# d(1,3)
df_1_3 = get_dissimilarity_dataset(df, [1,3], ["Over18","OverTime"])

In [ ]:
c_d_1_3 = count_contingency_value(df_1_3, 1, 3)

In [ ]:
# d(1,4)
df_1_4 = get_dissimilarity_dataset(df, [1,4], ["Over18","OverTime"])

In [ ]:
c_d_1_4 = count_contingency_value(df_1_4, 1, 4)

In [ ]:
# d(1,5)
df_1_5 = get_dissimilarity_dataset(df, [1,5], ["Over18","OverTime"])

In [ ]:
c_d_1_5 = count_contingency_value(df_1_5, 1, 5)

## Dissimilarity Binary Assymetric Value Formula


      d(i,j) =  r + s
              _________
              q + r + s

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_3)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_4)
d_1_5 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_5)

In [ ]:
d_1_2

0.5

In [ ]:
d_1_3

0.0

In [ ]:
d_1_4

0.5

In [ ]:
d_1_5

0.0

## Menghitung Jarak Data Numerik

-Age, DistanceFromHome, TotalWorkingYears, YearsAtCompany, YearsInCurrentRole

In [ ]:
from scipy.spatial import distance_matrix

In [ ]:
df[["Age","DistanceFromHome","YearsInCurrentRole","TotalWorkingYears","YearsAtCompany"]].head(5)

In [ ]:
data = pd.read_csv(dataset_url)
df = pd.DataFrame(data,columns=  ["Age","DistanceFromHome","YearsInCurrentRole","TotalWorkingYears","YearsAtCompany"])
df.head(5)

In [ ]:
Distance_matrix = pd.DataFrame(distance_matrix(df.values,df.values),index = df.index,columns=[df.index])
Distance_matrix.head(5)

In [ ]:
## Membulatkan bilangan hingga 1 desimal
Distance_matrix.round(decimals=1,out=None).head(5)

# Diskritisasi

## load data iris dataset

## lakukan diskritisasi pada data iris

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/Nauvaldi/Dataset/main/Iris.csv"
df = pd.read_csv(dataset_url)
df

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
df['SepalLengthCm'] = est.fit_transform(df[['SepalLengthCm']])
df['SepalLengthCm']

In [ ]:
data1 = pd.DataFrame(df['SepalLengthCm'],columns = ['SepalLengthCm'])
data1

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
df['SepalWidthCm'] = est.fit_transform(df[['SepalWidthCm']])
df['SepalWidthCm']

In [ ]:
data2 = pd.DataFrame(df['SepalWidthCm'],columns =['SepalWidthCm'])
data2

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
df['PetalLengthCm'] = est.fit_transform(df[['PetalLengthCm']])
df['PetalLengthCm']

In [ ]:
data3 = pd.DataFrame(df['PetalLengthCm'],columns =['PetalLengthCm'])
data3

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
df['PetalWidthCm'] = est.fit_transform(df[['PetalWidthCm']])
df['PetalWidthCm']

In [ ]:
data4 = pd.DataFrame(df['PetalWidthCm'], columns = ['PetalWidthCm'])
data4

In [ ]:
data = pd.DataFrame(df,columns =['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'])
data